@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

header {
  font-family: 'Source Sans Pro', sans-serif;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1b1d;
  padding: 5px 20px;
  height: 93px;
  box-shadow: 0 0 7px #26A69A;
  margin: 10px;
  border-radius: 6px;
}

.header-title {
  text-decoration: none;
  align-items: center;
  text-align: center;
}

.header-logo {
  width: 320px;
  object-fit: cover;
}

.time-box {
  display: flex;
  justify-content: center;
  height: 70px;
  width: auto;
  max-width: 25vw;
  text-align: center;
  align-items: center;
  background-color: #2b2b2b;
  border-radius: 6px;
  z-index: 2;
}

.time {
  margin: 0px 8px 0px 8px;
  font-family: 'poppins', sans-serif;
  font-size: 2.8em;
  color: #fff;
}
